!config
config/*
!config/log_config.yml
!config/ids_sample.json
!config/config_sample.json

elk/logstash/config/logstash.yml
elk/logstash/docker_logstash.yml
elk/logstash/pipeline/apbot.conf


__pycache__
.idea
data/*
samples
trash
trash/notion-py
trash/dist
trash/build
trash/src
logs

sources/tmp_sess.json
sources/token.json
sources/templates/categories.json
sources/test.log
글 자동배포봇.html
requirements_.txt
mongocryptd.pid
test.py

